<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <?include ..\BuildProperties.wxi?>
  <?define productVersion="!(bind.packageVersion.RadegastSetup)"?>
  
  <Bundle Name="$(var.productName)"
          Version="$(var.productVersion)"
          Manufacturer="$(var.companyName)"
          AboutUrl="$(var.aboutUrl)"
          HelpUrl="$(var.aboutUrl)"
          UpdateUrl="$(var.aboutUrl)"
          Copyright="$(var.copyright)"
          IconSourceFile="$(var.Radegast.ProjectDir)radegast.ico"
          UpgradeCode="fc37bb97-5666-46ff-be02-737f4537ca8b">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseFile="..\..\LICENSE.rtf"
                                              ShowVersion="yes"
                                              Theme='rtfLargeLicense' />
    </BootstrapperApplication>

    <Chain>
      <PackageGroupRef Id="NetFx48Redist" />
      <MsiPackage Id="RadegastSetup" SourceFile="$(var.RadegastSetup.TargetPath)" Vital="yes" After="NetFx48Redist" />
    </Chain>
  </Bundle>
</Wix>
