<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
    <StandardDirectory Id="TARGETDIR">
       <Merge Id="VC_Redist120" SourceFile="vcredist\Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0" />
       <Merge Id="VC_Redist140" SourceFile="vcredist\Microsoft_VC140_CRT_x86.msm" DiskId="1" Language="0" />
    </StandardDirectory>
  </Fragment>
</Wix>
